.formStyles {
    margin-top: 6%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.rowStyles {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 70%;
    //border: pink solid 2px;
}