.formStyles {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: solid pink 2px;
}

.rowStyles {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border: solid pink 2px;
    width: 50%;
}